body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14vw;
}

.header-left {
    font-size: 24px;
}

.header-right {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 14vw;
    font-size: 18px;
}

.hero-left {
    flex: 1;
    padding-right: 4vw;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text {
    color: #E5E7EB;
    margin-bottom: 10px;
}

.hero-logo {
    color: #E5E7EB;
    background-color: hsl(0, 0%, 50%);
    padding: 0 5vw;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.content-top {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 0 14vw;
}

.content-top-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: 20px;
}

.content-top-container1 {
    display: flex;
}

.content-top-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.content-top-text {
    max-width: 15vw;
}

.content-image {
    height: 15vw;
    width: 15vw;
    border: 3px solid #3882F6;
    border-radius: 6px;
}

.content-middle {
    background-color: #E5E7EB;
    padding: 6vw 14vw;
}

.quote-text {
    font: italic 36px lighter;
}

.quote-author {
    font-weight: bolder;
    text-align: right;
}

.content-bottom {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 6vw 14vw;
    padding: 40px 120px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.content-bottom-header {
    font-weight: bold;
}

.content-bottom-text {
    color: #E5E7EB;
}


.bottom-button {
    border: 1px solid #F9FAF8;
}

.footer {
    display: flex;
    padding: 20px 14vw;
    color: #E5E7EB;
    background-color: #1F2937;
    justify-content: center;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 0;
    border-radius: 6px;
    font-size: 18px;
    padding: 8px 30px;
    font-weight: bold;
}
